/* Instrument sandbox */

.body{
    -webkit-user-select: none;
    user-select: none;
}

.loading{
    background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0) 80%);
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    height:80%;
    width: 80%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 20px #eee;
    text-align: center;
    z-index: 100;
    transition: all 0.5s ease;
    cursor:wait;
}

.icon{
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100px;
    // height: 100px;
    pointer-events: none;
    width:100%;
    height:100%;
    
    path{
        transition: fill 0.5s ease;
        fill: #777;
    }
    
    path.on{
        fill: #fff;
    }
    
    path.active{
        transform:translateY(10px);
      }
      
}

button.options{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin:10px;
    background-color:transparent;
    border:none;
}

.disabled{
    transition:opacity 2s;
    opacity:0.1;
    pointer-events:none;
}

.noDisplay{
    display:none;
}

.transparent{
    transition:opacity 1s ease;
    opacity:0;
}

.removed{
    transition:opacity 1s ease, display 1s;
    opacity:0;
    display:none;
}

.hue{
    filter:hue-rotate(90deg);
}