/* Instrument sandbox */

/* variables: colours */

$background-color: #000;
$loading-background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0) 80%);

/* body */

body{
    background-color: $background-color;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

body.noscroll{
    overflow:hidden;
}

/* loading */

.loading{
    background: $loading-background;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    height:80%;
    width: 80%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 20px #eee;
    text-align: center;
    z-index: 100;
    transition: all 0.5s ease;
    cursor:wait;
}

.loading__progress__icon{
    display:inline-block;
    width:100px;
    height:100px;
    
    animation: rotate 10s linear infinite;
        

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

/* options */

.icon{
    pointer-events: none;
    width:100%;
    height:100%;
    
    path{
        transition: fill 0.5s ease;
        fill: #777;
    }
    
    path.on{
        fill: #fff;
    }
    
    path.active{
        transform:translateY(10px);
      }
      
}


button.options{
    width: 100px;
    height: 100px;
    margin:10px;
    background-color:transparent;
    border:none;
}

.options__bar{
    position: absolute;
    top: 0;
    right: 0;
    display:grid;
    margin:10px;
    background-color:transparent;
    border:none;
}

/* states */

.disabled{
    transition:opacity 10s;
    opacity:0.1;
    pointer-events:none;
}

.noDisplay{
    display:none;
}

.transparent{
    transition:opacity 1s ease;
    opacity:0;
}

.removed{
    transition:opacity 1s ease, display 1s;
    opacity:0;
    display:none;
}


/* instrument */

.instrument{
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    max-height:100vh;
}

.background{
    transition:filter 3s;
}

.background.contrast{
    filter:grayscale(100%) brightness(50%);
}

.current{
    /* this class is to be used to represent current user input */
    opacity:1;
}

.current.on{
    /* this combination indicates that the user is currently playing this note on screen, keyboard etc. */
    opacity:1;
}

/* note display: this is where note events are represented */

.note.display{
    transition:filter 0.4s ease;
    filter:brightness(90%);
}

.note.display.on{
    transition:filter 0.1s;
    filter:brightness(120%) saturate(150%);
}

/* notation */

.notation{
    background-color:black;
    width:auto;
    text-align: center;
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    right:0px;
    margin:auto;
    font-size:2rem;
    padding:none;
    
    .text{
        color:white;
        font-family:'Courier', Courier, monospace;
        /* padding:0.3em; */
        margin:none;
        padding:none;
        border-radius:15%;
        transition:all 0.1s;
    }
    
    .text.on{
        transition:all 0.1s;
        color:beige;
        background-color:red;
        // padding:0.4em;
    }
}



/* Currently unused */

.hue{
    filter:hue-rotate(90deg);
}