/* uncomment code in this file to overwrite the current styles */


.note.display{
    transition:filter 0.4s ease;
    filter:brightness(90%);
}

.note.display.on{
    transition:filter 0.1s;
    filter:brightness(120%) saturate(150%);
}