<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout test</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <main>
            <nav>
            </nav>
           <svg class="playable" viewbox="0 0 100 100" width="100%">
                <circle cx="50" cy="50" r="50" fill="darkgreen"/>
           </svg>
        </main>
        <footer class="footer">
            <div class="footer__content">
                <p>Footer</p>
            </div>
        </footer>
        <div class="modal">
            <div class="modal__bg"></div>
            
            <div class="modal__content">
                <p>testing</p>
                <p id="message"></p>
            </div>
            <div class="modal__banner">
                <h1>Modal</h1>
            </div>
            <footer class="footer modal__footer">
                <div class="footer__content">
                    <p>Footer for modal content</p>
                </div>
            </footer>
        </div>
    </body>
    <script>
        let content = document.querySelector('#message');
        let message = 'the quick brown fox jumps over the lazy dog';
        let scrambledMessage = scramble(message);
        for(let i=0;i<1000;i++) {
            scrambledMessage = scramble(scrambledMessage);
            content.innerHTML += scrambledMessage + '<br>';
        }
        
        
        function scramble(message) {
            let scrambled = '';
            let chars = message.split('');
            while(chars.length > 0) {
                let randomIndex = Math.floor(Math.random() * chars.length);
                scrambled += chars[randomIndex];
                chars.splice(randomIndex, 1);
            }
            return scrambled;
        }
        
    </script>
    <script>
        window.addEventListener('resize',()=>{
            document.querySelector('.modal__content').style.marginTop = document.querySelector('.modal__banner').offsetHeight + 10 + 'px';
            // document.querySelector('.modal__content').style.paddingBottom = document.querySelector('.modal__footer').offsetHeight + 10 + 'px';
        })
    </script>
</html>
            
