<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout test</title>
        <link rel="stylesheet" href="style_grid.css">
        <script src="window.js" type="module" defer></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    </head>
    <body>
        <main>
            <svg class="playable" viewbox="0 0 100 100" width="100%">
                <circle cx="50" cy="50" r="50" fill="darkgreen"/>
            </svg>
            <banner class="toolbar">
                <button class="modal__open">Open modal</button>
            </banner>
        </main>
        <footer class="footer">
            <div class="footer__content">
                <p>Footer</p>
            </div>
        </footer>
        <div class="modal">
            <div class="modal__bg"></div>
                <div class="modal__container">
                <div class="modal__content">
                    <p>testing</p>
                    <p id="message"></p>
                </div>
                <div class="modal__banner">
                    <h1>Modal</h1>
                    <button class="modal__close">X</button>
                </div>
                <footer class="footer modal__footer">
                    <div class="footer__content">
                        <p>Footer for modal content</p>
                    </div>
                </footer>
            </div>
        </div>
    </body>

</html>
            
