doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Layout test
        link(rel="stylesheet", href="style.css")
        script(src="window.js", defer)
    body
        .fullpage
            main
                .playable
            banner.fullpage__banner
                .banner__content
            footer.footer.fullpage__footer
                .footer__content
            
        .modal
            .modal__bg
            .modal__content
                p#message
            .modal__banner
            footer.modal__footer
                .modal__footer__content
                    