/* 
    these styles accompany notetransition.js 
*/

/* the default style for the note */

.piano.note{
    transition:background-color 1s;         /* fade-out time */
    background-color:black;               /* colour: note off */
    
    /* default styles: do not touch */
    
    -webkit-user-select: none;
    user-select:none;
}

/* the style for the note when it is on */

.note.on{
    transition:background-color 0.1s;      /* fade-in time */
    background-color:white;              /* colour: note on */
}

.display{
    transition:background-color 0.1s;
    background-color:darkgray;
    color:gray;
}

.display.on{
    transition:background-color 1s;
    background-color:black;
}