/* uncomment code in this file to overwrite the default note styles */

/* .note.display{
    transition:filter 0.4s ease;
    filter:brightness(80%);
}

.note.display.on{
    transition:filter 0s;
    filter:brightness(120%) saturate(150%);
} */

.note.display{
    transition:opacity 1s ease;
    opacity:0.7;
    filter:brightness(130%) saturation(110%);
}

.note.display.on{
    transition:opacity 0s;
    opacity:1;
}