.cable{
    stroke: black;
    stroke-width: 2;
    transition: all 0.4s ease-in-out;
}

.cable:hover{
    stroke: red;
    stroke-width: 4;
}

.box:hover{
    /* stroke: purple; */
    stroke-width: 4;
}

.box{
    stroke: black;
    stroke-width: 2;
    fill: beige;
    transition: stroke-width 0.1s ease-in-out;
    /* svg properties */
    rx: 5;
    ry: 10;
    
}

.box.oscillator{
    fill: #e9dba0;
}

.box.output{
    fill: #a1daa1;
}

.box.gain, .box.filter, .box.delay{
    fill: #ffccaa;
}

.box__text{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-anchor: middle;
    fill: black;
    font-size: 14px;
}